
.page_navigation {
    min-height: 20px;
}
.page_navigation , .alt_page_navigation{
	/*padding-bottom: 10px;*/
}

.page_navigation a, .alt_page_navigation a{
	padding:3px 5px;
	margin:2px;
	color:white;
	text-decoration:none;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
	/*background-color:#DB5C04;*/
}
.active_page{
	background-color:white !important;
	color:black !important;
}	

.ellipse{
	float: left;
}