/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 13, 2017, 11:48:28 AM
    Author     : lee.gooding
*/
#ReportApp {
    width: 100%;
}
#divReport {
    /*width: 4092px !important;*/
    width:100%;
    overflow-x: auto;
}
.report-section {    
    width: 1024px !important;
}
@media screen and (min-width: 721px) {
    #divMeetingKey {
        width: 275px !important;
    }
}
#divMeetingKey td {
        border:none;
    }

    #tableReport {
        z-index: 999;
    }
#divReport table th,
#divReport table td {
    padding: 4px;
    border: none;
}
.dc_attendance_total_row td {
    text-align:center;
    border-top: 1px solid black;
}

.week_attendance_total_row td {
    text-align: center;
}

table tr.meeting_row:nth-child(even) td {
    /* background: #efefef; */
}

.dc_pastor td{
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
}

.dc_attendance_total_row td:first-child {
    text-align:right;
    font-weight: bold;
    text-transform: uppercase;
}

#tableReport thead th,
thead.week_dates th {
    text-align:center;
}
#tableReport thead th:first-child,
thead.week_dates > tr > th:first-child
{
    text-align: right;
}

#tableReport tfoot td:first-child {
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
}

.meeting_type_dc {
    background-color: #34cdf9;
}

.meeting_type_none {
    
}

.meeting_type_discussion {
   background-color: #32cb00; 
}

.meeting_type_party {
    background-color: #ffcb2f;
}

.meeting_type_missing {
    background-color: #ffd2d2;
}

.meeting_row td.group_leader {

    
}