/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 20, 2015, 2:13:41 PM
    Author     : noah.davis
*/

#custom_table_dummy {
    position: relative;
    left: 24px;
}