#upcoming-events {
    color: green;
    text-align: center;
    border: 1px solid #aaa;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#upcoming-events .label {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    display: block;
    text-align: center;
    color: black;
}

#upcoming-events .clone {
    display: inline-block;
    font-size:12px;
    padding: 10px;
    border: solid 2px green;
    margin-right: 10px;
    margin-bottom: 5px;
}

#upcoming-events .clone .title {
    font-weight: bold;
    /* text-decoration: underline; */
    font-size: 18px;
    border-bottom: 2px dotted white;
    padding-bottom: 5px;
}

#upcoming-events .clone .date {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
}

.event_reg_info {
    color: green;
}
td.event_reg {
    color:green;
    font-weight: bold;
}

#memberList .spinner {
}
#memberListBody tr:hover {
    background: lightblue;
}

@media screen and (min-width: 721px) {
    
    /* Old styles isolated from mobile styles */
    
    /* STYLE OVERRIDES */
    /*
    #wrapper #container #header {
        height: 50px !important;
    }

    #wrapper #container .sidebar {
        margin: 40px 0 5em !important;
    }


    #wrapper {
        background: none !important;
    }
    */

    .crm-container .crm-form-block {
        background-color: white !important;
    }
    .crm-container .crm-accordion-body {
         margin-right: 1px;
         margin-left: 1px;
         border-color: #D3D3D3;
    }
    /* BUTTONS */
    .crm-container a.button, .crm-container a.button:link, .crm-container a.button:visited, .crm-container input.crm-form-submit, .crm-container .crm-button, .crm-container .ui-dialog-buttonset .ui-button, #crm-container input[type="button"], #crm-container input.crm-form-submit-inline, #crm-container .crm-button {
        font-size: 10px !important;
    }
    /* LEFT COLUMN */
    .page-civicrm-smallgrouptracking.fluid-width #divLeftColumn h3 {
        font-size: 13px;
        font-weight: bold;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background-color: white !important;
    }

    /*.page-civicrm-smallgrouptracking.fluid-width #divLeftColumn .section {
        float:right
    }*/


    .float-left {
        float: left;
    }


    .smallGroupLeader-section {
        min-width:200px;
        float:left;

    }

    .page-civicrm-smallgrouptracking.fluid-width #divLeftColumn h3 {
        margin:0;
        padding: 0;
    }

    /* GENERAL */
    .crm-container table {
        border: none;
    }

    h3 {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background-color: #eeeeee !important;
    }

    .subheader{
        padding: 3px;
        padding-left:12px;
    }
    table tr:first-line {
        background: goldenrod !important;
    }

    table tr:odd{
        background:gray;
    }

    h2 {
        font-size: 16px;

    }

    .null {
        background: red !important;
        border: 2px solid #eeeeed !important;
    }

    .crm-container td{
        /*border: 2px solid white !important;*/
    }


    .calloutRow {

    }

    div.section {

        display:block;
        padding-bottom:10px;
    }

    /* ATTENDANCE HISTORY */
    #divAttendanceHistory {
        overflow-x: auto;
        width: 100%;
    }

    /* first column */
    #tableHistorySource>thead>tr:first-child>th:first-child {
        min-width: 115px;
        text-align:center;
    }

    #tableHistorySource td:first-child {
        padding: 2px;
        text-align: right;
    }

    #tableHistorySource>tbody>tr:nth-child(odd) {
        background: #eeeeee;
    }
    #tableHistorySource>thead th {
        font-size: 10px;
        padding-left: 2px;
        padding-right: 2px;
        text-align:center;
    }

    #tableHistorySource>tfoot {
        background: #ededed;
        border-top:solid 4px black;
    }
    #tableHistorySource td {
        padding: 2px;
        text-align: center;
    }


    /* ATTENDANCE ENTRY */



    div #divAttendanceRow,
    #memberName
    {
        float:left;
        min-width: 100px;

    }

    #divLeftColumn {
        width: auto;
        margin-top: 12px;
    }

    #divContent {
        /* div holding both right columns */

        float:left;
        /*width: 70%;*/
        width:100%;
    }

    div.content {

    }

    #divMemberStats table {
        width: auto;
    }

    #divMemberStats table th {
        border-top: solid 5px #ededed;
    }

    #divMiddleColumn {
    }
    /*
    #divRightColumn {
        float:right;
        width: 265px;
    }
    */
    .footer {
        clear:both;
    }
    #crm-footer {
        clear:both !important;
    }

    div#tabs{
        /*margin-left:200px;*/
    }

    #tabs-members {
        /*overflow:auto;*/
    }

    div.logList {
        border: solid 2px #ededed;
        border-radius: 5px;
        /*max-height: 300px;*/
        /*overflow-y: auto;*/

    }

    #thisDC{
        width:250px !important;
    }

    #divAddress {
        width:250px;
        float:left;
    }

    div#divMemberStats table thead.sticky tr th {
        font-size: 9px;
        padding-right: 0;
    }
    div#divMemberStats table {
        border:none;
    }
    div#leaders div#divMemberStats table tbody tr#summary-stats td {
        text-align:center;
    }

    #groupAddress {
        padding:5px;
    }


    /* MEETING KEY: http://www.tablesgenerator.com/html_tables# */
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    .tg .tg-vkov{background-color:#32cb00;text-align:center}
    .tg .tg-4272{font-weight:bold;font-family:"Arial Black", Gadget, sans-serif !important;;background-color:#efefef;text-align:center}
    .tg .tg-lcoa{background-color:#34cdf9;text-align:center}
    .tg .tg-bmek{background-color:#ffcb2f;text-align:center}
    #divMeetingKey {
        width:200px;
        float:right;
    }

    /* ATTENDANCE HISTORY TABLE */
    thead th.Discussion {
        background-color:#32cb00 !important;
        color: white !important; 
    }
    thead th.DC {
        color: white !important; 
        background-color:#34cdf9 !important;
    }
    thead th.Party {
        color: white !important; 
        background-color:#ffcb2f !important;
    }
    /* ATTENDANCE HISTORY HEADER WHEN SELECTED */
    thead th.Discussion.sorting_asc,
    thead th.Discussion.sorting_desc{
        color: black !important; 
    }
    thead th.DC.sorting_asc,
    thead th.DC.sorting_desc{
        color: black !important; 
    }
    thead th.Party.sorting_asc,
    thead th.Party.sorting_desc{
        color: black !important; 
    }

    .tg-submit {
        vertical-align: bottom !important;
    } 

    /* ATTENDANCE HISTORY DATE RANGE */
    #divDateRange {
        float:left;
    }

    /* SECTION FOR FIRST LOAD */
    #divFirstLoad {
        width: 100%;
        height: 100px;
        text-align: center;
        padding-top: 20px;
        font-size: 30px;
        line-height: 46px;
        border-left: solid grey;

    }

    /* SMALL GROUP LEADER LIST */
    #bRefreshLeaderList {
        float:right;
        font-size:8px;
        padding: 0;
    }

    #leaderList li {
        /*list-style-image: inherit !important;*/
        white-space: nowrap;
        list-style-type: none;
        margin-left: 0px !important;
        overflow: hidden;
    }

    #leaderList a.selected {
        /*background: wheat;*/
        font-size: 1.8em;
        font-weight: bold;
    }

    div#leaders ul#leaderList {
        padding:0;
        margin:0;
        margin-bottom: 10px;
    }

    .DCselector > div:first-of-type,
    #smallgroupwrapper {
        margin-top: 10px;
    }

    /* PAGE TOP */
    #subTitleDC {
        font-size: 1.8em;
        vertical-align: middle;
        font-weight: bold;
        color: #2786C2;
        float: left;
        margin: 2px;
    }
    
    #dcTitle {
        display:none;
    }
    
    .subTitleSeparator {
        vertical-align: middle;
        padding-left:8px;
        padding-right:8px;
        font-size: 1.75em;
        color:green;
    }
    
    #divMain {
        clear: both;
    }

    /* ATTENDANCE ENTRY */
    #divAttendanceEntryLeft,
    #divAttendanceEntryRight{
        position: relative;
        float: left;
    }
    #divAttendanceEntryRight{
        margin-left:10px;
    }
    #ulPrevGroupLogs {
        display: block;
        list-style-type: none;
        margin-left: 0;
        padding-left: 0;
        position: relative;
        width: 100%;
    }
    #ulPrevGroupLogs li{
        margin-left:0px;
        padding-right: 5px;
        padding-left: 5px;
    }
    #ulPrevGroupLogs li:nth-child(odd) { 
        background: #ededed; 
    }

    #ulPrevGroupLogs a{
        padding-left:10px;
    }

    /* ATTENDANCE ENTRY BUTTONS */
    #bAddAttendance {
        float:right;
    }

    #bUpdateAttendance {

    }

    #divUpdateAttendance,
    #divCancelEditAttendance
    {
        display:none;
        float:right;
    }

    .hEditAttendance {
        display:none;
        background-color: red;
        margin-bottom: 10px;
        padding-top: 5px;
        padding-left: 5px;
    }

    .crm-container .blockUI.blockOverlay {
        /*background: url("/drupal/sites/all/modules/civicrm/i/loading-overlay.gif") 50% 25% no-repeat white !important;*/
        background: url("../images/loading-overlay.gif") 50% 5% no-repeat white !important;
    }

    /* DC SUMMARY TABLE */

    #divDcSummary th:first-child {
        min-width: 200px;
        color:black;
        background: white !important;
        vertical-align: middle;
    /*    position:fixed;*/

    }
    /*
    #divDcSummary td:first-child {
        min-width: 200px;
        width: 200px;
        color:black;
        background: white !important;
        vertical-align: middle;
        position:fixed;

    }
    #divDcSummary th:nth-child(2) {
        display:block;
        margin-left:225px;
    }

    #divDcSummary tr:nth-child(2) {
        display:block;

    }*/


    #divDcSummary th {
        background: gainsboro;
        padding: 3px;
        color: black;
        font-size:10px;
    }

    #divDcSummary table {
        border: none !important;
        margin: 0;

    }

    #divDcSummary td {
        font-weight: bold;
        /*font-size: 0.75em;*/
        border:0px !important;
    }

    #divDcSummary {
        background: none repeat scroll 0 0 white;
        height: auto;
        margin: 0 !important;
        position: absolute;
        right: 63px;
        top: 65px;
        width: auto;
        z-index: 100;
        box-shadow: 1px 1px 3px #999999;
        display:none;

    }

    .crm-accordion-body {
       overflow: auto;
       min-height: 100px;
    }
    .crm-accordion-header {
        background-color: #eeeeee !important;
        color: black !important;
        font-weight:bold;
    }


    /* ENTITY REF CUSTOMIZATIONS */
    /*.select2-results {
        max-height: 300px !important;

    }
    .crm-container .select2-results {
        font-size:0.7em !important;
    }
    .crm-container .select2-container .select2-choice > .select2-chosen {
        font-size: 0.8em !important;
    }*/

    /* GENERAL CLASSES */
    .border-bottom {
        border-bottom: 2px solid gainsboro;
        margin-bottom: 10px;
    }

    .light-bg {
        background-color: rgb(240,240,240);
    }

    .border-all {
        border: 3px solid gainsboro;
        margin: 10px;
        background-color: rgb(240,240,240);
    }

    .padding-all {
        margin-bottom: 5px;
        margin-left: 10px;
    }

    div#divDcSummary.content div.crm-accordion-wrapper.crm-accordion_title-accordion.crm-accordion-closed .crm-accordion-body {
        border: 0 none;
        border-left: 2px solid #eeeeee;
    }

    div#divSGInfoTemplate.section.smallGroupTabs-section div#tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all {
        border: 0 none;
        /*border-left: 2px solid #eeeeee;*/

    }

    div#divAttendanceEntryLeft div.section h3 {

    }

    /* TABS */
    .ui-tabs-nav {
        height: 38px !important;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
        border-bottom-right-radius: 0px;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
        border-bottom-left-radius: 0px;
    }
    .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
        border-top-right-radius: 0px;
    }
    .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
        border-top-left-radius: 0px;
    }

    div#tabs ul{
        color: #222222;
        font-weight: bold;
        background: none;
        border: 0;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        background: none;
        border: 1px solid #d3d3d3;
        color: #555555;
        font-weight: normal;
    }

    .ui-tabs .ui-tabs-nav li.ui-tabs-active {
        background: none repeat scroll 0 0 transparent;
        margin-bottom: -1px;
        padding-bottom: 1px;
        font-weight: bold;
    }
    .ui-tabs .ui-tabs-nav li {
        background: #eeeeee;
        color: white;
    }
    .ui-tabs .ui-tabs-nav li.ui-tabs-active a {
        color: #2786c2;
    }
    .ui-tabs .ui-tabs-nav li a {
        color: gray;
    }
    .ui-tabs .ui-tabs-nav li a:focus,
    .ui-tabs .ui-tabs-nav li a:active,
    .ui-tabs .ui-tabs-nav li:focus,
    .ui-tabs .ui-tabs-nav li a:active{
        border: none !important;
    }

    .x-icon {
        /*
        background: url("../images/select2.png") no-repeat scroll right top rgba(0, 0, 0, 0);
        */
        font-family: "Lucida Console";
        font-size: 13px;
        font-weight: bolder;
        vertical-align: sub;
    }
    .x-icon:hover{
        /*
        background: url("../images/select2.png") no-repeat scroll right top rgba(0, 0, 0, 0);
        */
        color: #2786C2;
        cursor: pointer;
    }

    #divSmallGroupLeaders {
        margin:0;
    }

    #attendanceFilter {
        display: inline-block;
        margin-left: 15px;
    }

    #attendanceFilter label {
        display: block;
        color: #A7A7A7;
        font-weight: bold;
        margin-bottom: 20px;
        border-bottom: 5px;
        border-color: gray;
    }

    .memberpresent {
        color: blue;
        font-weight: bold;
    }

    .memberabsent {
        color: black;
    }

    .norecord {
        font-style: italic;
    }

    /* STICKY HEADER */
    .sticky-wrap {
        /*overflow-x: auto;*/
        position: relative;
        /*margin-bottom: 1.5em;*/
        margin-top: 0;
        vertical-align:top;
        width: 100% !important;
        border: medium none;
        font-size: 13px;
    }
    .sticky-wrap .sticky-thead,
    .sticky-wrap .sticky-col,
    .sticky-wrap .sticky-intersect {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .125s ease-in-out;
        z-index: 50;
        width: auto; /* Prevent table from stretching to full size */
    }
        .sticky-wrap .sticky-thead {
            box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
            z-index: 100;
            width: 100%; /* Force stretch */
        }
        .sticky-wrap .sticky-intersect {
            opacity: 1;
            z-index: 150;
        }
        .sticky-wrap .sticky-intersect th {
            background-color: #666;
            color: #eee;
        }
    .sticky-wrap td,
    .sticky-wrap th {
        box-sizing: border-box;
    }

    #memberList {
        width:100% !important;
        vertical-align:top;
        margin-top: 0;
    }
    #memberListBody>tr>td {
        max-width: 200px;
    }

    /* BROWSER NOT SUPPORTED */
    .browserNotSupported{
        background: none repeat scroll 0 0 white;
        height: 75%;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 95%;
        z-index: 1000;
    }
    
    .warning {
        font-size: 38px !important;
        position: relative;
        text-align: center;
        top: 30%;
    }

    /* RESPONSIVE STUFF */
    #wrapper #container #center #squeeze {
        min-width: 900px;
    }
    
    /* New Styles */
    
    .topButtons > * {
        position: relative;
        top: 4px;
    }
    
    .topButtons > div#adminMenu {
        display: none;
    }
    
    /* Attendance styled as tables */
    
    .tableRoot {
        display: table;
        width: 100%;
        text-align: center;
    }

    .tableHeader {
        display: table-header-group;
    }

    .tableHeader div {
        display: table-row;
    }

    .tableHeader div > span {
        color: #A7A7A7;
        font-weight: bold;
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }

    .tableBody {
        display: table-row-group;
    }

    .tableBody > div {
        display: table-row;
    }

    .tableRoot div > span {
        display: table-cell;
        padding: 2px;
        margin: 1px;
        border-width: 0px;
        border-left-width: 1px;
        border-color: #CFCEC3;
        border-style: solid;
        vertical-align: middle;
    }

    .tableHeader div > span,
    .tableRoot div > span:first-child {
        border-left-width: 0px;
    }

    .tableHeader div > span {
        text-align: left;
    }

    .tableBody div > span:first-child {
        text-align: right;
        border-right-width: 1px;
    }
    
    .tableRoot div > span:nth-child(2) {
        border-width: 0px;
        text-align: left;
    }

    .tableBody div:nth-child(odd) { 
        background: #ededed;
    }
    
    .tableRoot textarea {
        resize: none;
    }

    .DCselector {
        float: left;
    }
    
    .smallGroupSummary-section {
        float: right;
    }
}


@media screen and (max-width: 720px) {

    /* Force table to not be like tables anymore */
    table#memberList, 
    #memberList thead, 
    #memberList tbody, 
    #memberList th, 
    #memberList td, 
    #memberList tr { 
        display: block; 
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .sticky-thead thead tr,
    #memberList thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #memberList tr { border: 1px solid #ccc; }

    #memberList td { 
        /* Behave  like a "row" */
        min-height: 18px;
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }

    #memberList td:before { 
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 5px;
        margin-right: 5px; 
        white-space: nowrap;
        border-right: 1px solid #aaa;
    }

    #memberList td:nth-of-type(1) { display: none; }

    .tableRoot {
        line-height: 100%;
    }
    
    .tableRoot .rowRef {
        clear: both;
        padding-bottom: 5px;
        border-bottom-color: darkgrey;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
    
    .tableRoot .rowRef:last-child {
        border-bottom-width: 0px;
    }
    
    .tableRoot .rowRef > span:first-child {
        float: left;
        height: 100px;
        line-height: 100px;
    }
    
    .tableRoot .rowRef > span:nth-child(2) {
        font-weight: bold;
        display: block;
    }
    
    .tableRoot .rowRef > span {
        display: inline-block;
        margin: 1px 0;
    }
    
    .topButtons > #adminMenu {
        background-color: darkgrey;
        color: white;
        padding: 6px 0;
    }
    
    .topButtons > * {
        text-align: center;
        width: 100%;
        margin-bottom: 6px;
    }
    
    .topButtons a.button.crm-popup {
        display: none;
        width: 95%;
        margin-bottom: 4px;
    }
    
    .topButtons a.button.crm-popup:last-child {
        margin-bottom: 6px;
    }
    
    #divMemberStats {
        width: auto;
    }
    
    #sidebar-second,
    #divDcSummary,
    #civicrm-menu {
        display: none;
    }
    
    #container {
        padding: 0;
    }
    
    body.sidebar-first,
    body.sidebar-second {
        min-width: 0px;
    }
    
    #squeeze {
        margin-right: 0 !important;
    }
    
    #thisDC,
    #smallgroupSelect,
    input.crm-form-entityref {
        width: 100%;
    }
    
    .DCselector {
        text-align: center;
    }
    
    #smallgroupwrapper {
        padding: 5px 0;
    }
    
    #ulPrevGroupLogs {
        display: block;
        clear: both;
    }
    
    #divAttendanceEntryLeft,
    #divAttendanceEntryRight {
        float: none !important;
        display: block;
    }
    
    body > *:not(div):not(ul):not(span) {
        display: none;
    }
}