{crmScript weight="2" ext=org.namelessnetwork.smallgrouptracking file=js/ChurchAttendance.js}

<h3>Record and View Church Attendance</h3>

<div id="dc">
    
</div>

<div id="sunday">
    
</div>

<div id="team_meeting">
    
</div>

<label>Date</label><input type="date" id="datepicker"></input>
<label>Type</label>
<select name="type" id="type">
    <option selected="selected" value="Sunday">Sunday</option>
    <option value="DC">DC</option>
    <option value="Team Meeting">Team Meeting</option>
</select>
<label>Adult Count</label><input type="number" id="adult_count" value="0"></input>
<label>Child Count</label><input type="number" id="adult_count" value="0"></input>
<button id="record_attendance" onclick="RecordAttendance();">Record Attendance</button>