<form>
    <select name="smallgroup">
        <optgroup label="Yang, Alan">
            <option value="139">Kibler, Justin</option>
        </optgroup>
    </select>
    <input type="text" id="datepicker" name="activitydate">
    <br/>
    <input type="text" name="name">
    Present: <input type="checkbox" name="present">
    Notes: <input type="text" name="notes"
</form>

{literal}<script>
CRM.$(function($) {
    $( "#datepicker" ).datepicker();
});
</script>{/literal}