<!-- OVERLAY FOR LOADING CONTENT -->
<div id="blockUI-Template" style="display:none">
    <div class="blockUI" style="display:none"></div>
    <div class="blockUI blockOverlay" style="z-index: 1000; border: none; margin: 0px; padding: 0px; width: 100%; height: 100%; top: 0px; left: 0px; opacity: 0.6; cursor: wait; position: absolute; background-color: rgb(0, 0, 0);"></div>
    <div class="blockUI blockMsg blockElement" style="z-index: 1011; display: none; position: absolute; left: 387px; top: 52px;"></div>
</div>